/* BackButton.css */

.back-button {
    color: #fff;
    background-color: #000;
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    padding: 0px;
    padding-bottom: 1px;
    padding-left: 3px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.back-button:hover {
    color: #000;
    background-color: #fff;
}
